#battlegrid{
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  flex: 1 1;
  
}

#battlegrid-iframe{
  overflow: hidden; 
  max-width: 900px;
  width:100%;
  height: 450px;
  background-color:#f4f4f4;
  overflow:hidden;
  margin: 0 auto;
  opacity: 0.1;
  z-index: -1;
  margin-bottom:30px;
}

#battlegrid-message{
  align-items: center;
  justify-content: center;
  display:flex;
  flex-direction:column;
}

@media all and (min-width : 700px) {
  #battlegrid-iframe{
    display:flex;
    opacity: 1;
    z-index: inherit;
  }
}