@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600&subset=latin-ext');

$main-color: #9191E9;

.button {
  text-decoration: none;
  font-size: .875rem;
  font-weight: 300;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 1.5rem;
  background-color: #fff;
  color: $main-color;
  padding: 1rem 2rem;
}

.popup.activeModal {
  visibility: visible;
  opacity: 1;
  .popup-inner {
    bottom: 0;
    right: 0;
    transform: rotate(0);
  }
}

.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .80);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  transition: .64s ease-in-out;
  &-inner {
    position: relative;
    bottom: -100vw;
    right: -100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 800px;
    max-height: 600px;
    width: 70%;
    height: 80%;
    background-color: #fff;
    transform: rotate(32deg);
    transition: .64s ease-in-out;
  }
  &__photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    overflow: hidden;
    //Background Image Setting
    background-repeat: no-repeat;
    background-position: left center;
    background-size: auto;
    img {
      width: auto;
      height: 100%;
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 75%;
    height: 100%;
    padding: 1rem;
    h2 {
      font-size: 1.75rem;
      text-align:center;
      font-weight: 600;
      margin: 0.25rem 0;
      text-transform: uppercase;
      color: #0A0A0A;
    }
    p {
      font-size: 1rem;
      color: #000;
      line-height: 1.5;
    }
    .learn__more{
      color:white;
      background-color:#254441;
      border:0px solid transparent;
      border-radius: 5px;
      padding:10px 0;
      margin-top:5px;
      cursor:pointer;
    }
    .learn__more:hover{
      background-color:#000000;
    }
  }
  &__close {
    position: absolute;
    right: -1rem;
    top: -1rem;
    width: 3rem;
    height: 3rem;
    font-size: .875rem;
    font-weight: 300;
    border-radius: 100%;
    background-color: #0A0A0A;
    z-index: 4;
    color: #fff;
    line-height: 3rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
  }
}


@media screen and (max-width: 768px) {
  html, body {
    font-size: 12px;
  }
  .popup__photo{
    background-position: 5% center;
  }
}